.mycontact{
    .tite-contact{
        text-align:center ;
        padding:2rem ;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -70%);
            height: 4px;
            width: 100px;
            background-color: $color-1;
        }
    }
    .localisation{
        width: 100%;
        height: 250px;
    }
    .contact-content{
        display: flex;
        justify-content: space-around;
    }
}